<manifest package="com.yandex.mobile.ads.unity">
    <application>
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-9966962268328280~7424231270"/>
        <meta-data android:name="applovin.sdk.key"
               android:value="MmHLJLwlhhLwuWZiNeyeLte3zfmk4GImmOIOs6U5eCW31mzSvyzXbhJuoTTGhgAmLvAnTNibCSqHrppumwVLAW"/>
    </application>
</manifest>